<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment_tsr_ywh_nkh_tyc_wrk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity
            android:name=".ElectronicDeviceActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".HealthCareActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ClothedActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".LimitedActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".UserAcc"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Clothed1Product"
            android:parentActivityName=".ClothedActivity"/>
        <activity
            android:name=".Clothed2Product"
            android:parentActivityName=".ClothedActivity"/>
        <activity
            android:name=".Clothed3Product"
            android:parentActivityName=".ClothedActivity"/>
        <activity
            android:name=".Mask"
            android:parentActivityName=".HealthCareActivity"/>
        <activity
            android:name=".Sanitizer"
            android:parentActivityName=".HealthCareActivity"/>
        <activity
            android:name=".Vitamin"
            android:parentActivityName=".HealthCareActivity"/>
        <activity
            android:name=".MosquitoKiller"
            android:parentActivityName=".ElectronicDeviceActivity"/>
        <activity
            android:name=".MediaProduct"
            android:parentActivityName=".ElectronicDeviceActivity"/>
        <activity
            android:name=".PlayStation"
            android:parentActivityName=".ElectronicDeviceActivity"/>
        <activity
            android:name=".Xiaomi"
            android:parentActivityName=".LimitedActivity"/>
        <activity
            android:name=".Realme"
            android:parentActivityName=".LimitedActivity"/>
        <activity
            android:name=".Nintendo"
            android:parentActivityName=".LimitedActivity"/>
        <activity android:name=".Cart"
            android:parentActivityName=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>